@using BanHangDienTu.Models;
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách người dùng</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; Người dùng mới</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
               Họ và Tên
            </th>
            <th>
                Tên tài khoản
            </th>
            <th>Tình trạng</th>
             <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.FirstName @item.LastName</td>
        <td>@item.UserName</td>
        @if (item.LockoutEnd > DateTime.Now && item.LockoutEnd != null)
        {
            <td>Chưa kích hoạt</td>
            <td>
                <div class="btn-group">
                    <a asp-action="Active" class="btn btn-primary" asp-route-id="@item.Id">
                        Kích hoạt
                    </a>
                     <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">
                        Xóa
                    </a>
                </div>

            </td>

        }
        else
        {
            <td>Đã kích hoạt</td>
            <td style="width: 150px">
                <partial name="_PartialView" model="@item.Id" />
            </td>

        }

    </tr>
        }
    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>
}
